# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# Google Credentials (DO NOT UPLOAD)
credentials.json
cryptography-proj-*.json
token.pickle

# Logs
*.log

# Node
node_modules/
package-lock.json

# Build
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db